<div class="navbar navbar-static-top">
  <div class="navbar-inner">
    <ul class="nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/files/resume.pdf">Resume</a></li>
      <li><a href="mailto:work@jareddaley.com">Contact</a></li>
    </ul>
    <a class="brand im-pull-right brand-font" href="/">Jared Daley</a>
  </div>
</div>