<div id="m-teachr" class="modal hide fade mpmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="teachrModalLabel">Teachr</h3>
  </div>
  <div class="modal-body">
    <img src="/img/mpscreens/teachr.png">
    <br><br>
    <p>Teachr is a fully-functional teacher search engine created for a class that I attended on Web Search and Information Retrieval.  The aim was to improve the accessability of information on teachers for students signing up for classes.  This is a vertical search engine, meaning its scope is limited to a small set of information.  The search engine is therefore narrowed to only the teachers in the faculty of Computing Science.  It is equipped with several features that you might find in larger, more robust search engines such as spelling correction, search suggestion and indexed searching.</p>
  </div>
  <div class="modal-footer">
    <a class="btn btn-primary" href="/files/456_report.pdf">Read the Report</a>
    <a class="btn btn-primary" href="http://server.jareddaley.com:9100">See it in Action</a>
  </div>
</div>

<div id="m-go" class="modal hide fade mpmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="goModalLabel">go.SFU Replacement</h3>
  </div>
  <div class="modal-body">
    <img src="/img/mpscreens/courses.png">
    <br><br>
    <p>As part of a small team of three, we created and rolled out a more functional, albeit prototypical, version of our school's class enrollment system.  I was tasked with creating the entire user interface for the site which focused on affordance and visibility, as well as ease-of-use.  It also can run offline thanks to HTML5 database technologies which don't need an online connection to work.</p>
  </div>
  <div class="modal-footer">
    <a class="btn btn-primary" href="http://server.jareddaley.com:9101">See it in Action</a>
  </div>
</div>

<div id="m-aie" class="modal hide fade mpmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="aieModalLabel">AIE Industries Ltd. Website</h3>
  </div>
  <div class="modal-body">
    <img src="/img/mpscreens/aieind.png">
    <br><br>
    <p>This website, like the one you're currently on, has been completely designed and rolled from scratch using the PHP CodeIgniter and Twitter Bootstrap frameworks.  The intention of the website is to improve the company's web presence while providing them with a cheaper alternative to standard advertising, as well as making them stand out in their industry which currently lacks any website made past the year 2001.</p>
  </div>
  <div class="modal-footer">
    <a class="btn btn-primary" href="http://www.aieindustries.com">See it in Action</a>
  </div>
</div>

<div id="m-htw" class="modal hide fade mpmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="htwModalLabel">HireTheWorld</h3>
  </div>
  <div class="modal-body">
    <img src="/img/mpscreens/htw.png">
    <br><br>
    <p>In the summer of 2012, I was lucky enough to be hired by HireTheWorld for my co-op internship.  HireTheWorld is a startup located in downtown Vancouver whose purpose is to provide small businesses an easy way to get design work done in an affordable fashion, by crowdsourcing it.  They allowed me the chance to immediately help contribute and enhance their site.  Some of the major projects I worked on include researching for and creating their affiliate program, facilitating site restructuring for improved SEO results, and enhancing their administration panel to provide a greater breadth of information.</p>
  </div>
  <div class="modal-footer">
    <a class="btn btn-primary" href="http://www.hiretheworld.com">See it in Action</a>
  </div>
</div>

<div id="m-htwblog" class="modal hide fade mpmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="htwbModalLabel">HireTheWorld Blog</h3>
  </div>
  <div class="modal-body">
    <img src="/img/mpscreens/htwb.png">
    <br><br>
    <p>While working at HireTheWorld, another major project that I was a part of was creating a new look for their blog.  With designs given to me, I managed to shape the blog into something that matched the then new professional look of their main site by creating a custom WordPress theme from scratch, including JavaScript-based custom widgets to improve functionality and dynamicism.</p>
  </div>
  <div class="modal-footer">
    <a class="btn btn-primary" href="http://www.hiretheworld.com/blog/">See it in Action</a>
  </div>
</div>

<div id="m-nbody" class="modal hide fade mpmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="nbodyModalLabel">N-Body Simulation</h3>
  </div>
  <div class="modal-body">
    <img src="/img/mpscreens/universe.png">
    <br><br>
    <p>As part of a team of five, we were tasked with the problem of <em>smoothly</em> running a collision avoidance simulator using one-million bodies by both multi-threading and distributing the system and having the systems synchronize with each other.  My main contributions were: socket programming in C and Python, the co-creation of a TCP protocol from scratch, distribution of the system across computers, and ensuring the multithreading and distribution played nicely (pthread testing and debugging).</p>
  </div>
  <div class="modal-footer">
    <a class="btn btn-primary" href="/files/431_report.pdf">Read the Report</a>
    <a class="btn btn-primary" href="/files/nbodysim.zip">Download the Source Code</a>
  </div>
</div>