<div id="push"></div>
</div>

<div id="footer">
  <div class="footer-inner">
    <div class="container">
      <div class="row push-down-20">
        <div class="span7">
          <p class="footheader"><strong>Jared S. Daley</strong>&nbsp;&nbsp;Computer Scientist</p>
          <hr>
          <p>I have recently finished my B.Sc. in Computer Science at Simon Fraser University, and have worked for many years in the field of graphic design.  The merging of these two professions has given me a distinct outlook on the world of programming and software engineering.  My passion lies in creating great looking web applications and designing functional user-friendly websites.
    	  <br>
    	  <br>
    	  <p class="bottomp">&copy;2013 Jared S. Daley
        </div>
      <div class="span1 offset1 map">
          <h5>Site Map</h5>
          <a href="/">Home</a><br>
          <a href="/files/resume.pdf">Resume</a><br>
          <a href="mailto:jared@jareddaley.com">Contact Me</a>
      </div>
      <div class="span1 offset1 map">
          <h5>Links</h5>
          <a href="http://www.facebook.com/jsdaley">Facebook</a><br>
          <a href="http://www.twitter.com/jsdaley">Twitter</a><br>
          <a href="http://ca.linkedin.com/pub/jared-daley/63/587/45/">LinkedIn</a><br>
          <a href="http://soundcloud.com/jsdaley">Soundcloud</a><br>
          <a href="http://youtube.com/user/jsdaley">Youtube</a><br>
          <a href="http://jsdaley.tumblr.com">Tumblr</a><br>
          <a href="http://www.instagram.com/jsdaley">Instagram</a><br>
          <a href="http://vimeo.com/jsdaley">Vimeo</a><br>
      </div>
      <div class="span1 map">
          <h5>&nbsp;</h5>
          <a href="http://plus.google.com/109166094316531294177/">Google+</a><br>
          <a href="https://github.com/jsdaley">GitHub</a><br>
          <a href="http://www.last.fm/user/jsdaley">Last.fm</a><br>
          <a href="http://www.reddit.com/user/jsdaley">Reddit</a><br>
      </div>
      </div>
    </div>
  </div>
</div>