<div class="topbar">
  <div class="topbar-fade-in"></div>
  <div class="container">
    <div class="row">
      <div class="span12">
        <h1>Hello!  I'm <span class="highlight-text">Jared Daley</span>,<br>a Computer Scientist based in Vancouver.</h1>
        <br>
        <p class="lead">I specialize in web design and web application programming, especially those that include the PHP, Python and Javascript programming languages.</p>
      </div>
    </div>
  </div>
</div>