<div class="container">
  <div class="row">
    <div class="span12">
      <br>
      <h1>Highlighted Projects</h1>
      <br>
      <div class="row">
        <div class="span3">
          <a href="#m-teachr" class="modal-link" data-target="#m-teachr" data-toggle="modal"><img src="img/mpthumbs/teachr.png" class="img-polaroid" /></a>
          <h4>Teachr</h4>
          <p>A functional SFU teacher search engine created for a class on Web Search and Information Retrieval.</p>
        </div>
        <div class="span3">
          <a href="#m-go" class="modal-link" data-target="#m-go" data-toggle="modal"><img src="img/mpthumbs/gosfu.png" class="img-polaroid" /></a>
          <h4>go.SFU Replacement</h4>
          <p>A project for a class on Web Development that provides students a new way to sign up for classes.</p>
        </div>
        <div class="span3">
          <a href="#m-aie" class="modal-link" data-target="#m-aie" data-toggle="modal"><img src="img/mpthumbs/aieind.png" class="img-polaroid" /></a>
          <h4>AIE Industries</h4>
          <p>Under construction.  Planned to be a website based on the PHP Codeigniter framework.</p>
        </div>
        <div class="span3">
          <a href="#m-htw" class="modal-link" data-target="#m-htw" data-toggle="modal"><img src="img/mpthumbs/htw.png" class="img-polaroid" /></a>
          <h4>HireTheWorld</h4>
          <p>I was hired as a junior developer for this website in 2012 and helped transition the site to a new look.</p>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="span3">
          <a href="#m-htwblog" class="modal-link" data-target="#m-htwblog" data-toggle="modal"><img src="img/mpthumbs/htwb.png" class="img-polaroid" /></a>
          <h4>HireTheWorld Blog</h4>
          <p>Created a customized Wordpress template from scratch to meet the designer's specifications.</p>
        </div>
        <div class="span3 tester">
          <a href="#m-nbody" class="modal-link" data-target="#m-nbody" data-toggle="modal"><img src="img/mpthumbs/universe.png" class="img-polaroid" /></a>
          <h4>Distributed N-Body Sim</h4>
          <p>A project for a class on Distributed Systems that can handle collision avoidance for one million bodies.</p>
        </div>
        <div class="span6">
          <div class="class-boast">
            <h3>Highlighted Courses</h3>
            <table class="table">
              <tbody>
                <tr class="first">
                  <td>CMPT 470</td>
                  <td>Web-Based Information Systems</td>
                  <td>A+</td>
                </tr>
                <tr>
                  <td>CMPT 454</td>
                  <td>Databases II</td>
                  <td>A+</td>
                </tr>
                <tr>
                  <td>CMPT 363</td>
                  <td>User Interface Design</td>
                  <td>A-</td>
                </tr>
                <tr>
                  <td>CMPT 370</td>
                  <td>Information System Design</td>
                  <td>A-</td>
                </tr>
                <tr>
                  <td>CMPT 275</td>
                  <td>Software Engineering I</td>
                  <td>A</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>